body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.love_you {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px; 
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
